* {
  box-sizing: border-box;
}

html {
  font-size: 13px;
}

body {
  font-family: Helvetica, sans-serif;
}

.label {
  border: 2px solid black;
  width: 245px;
  margin: 170px auto;
  padding: 0 5px;
}

h1 {
  text-align: center;
  margin: -6px 0 -8px;
  font-size: 30.93px;
  letter-spacing: -1.5px;
}

p {
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.smallest-text {
  font-size: 0.7rem;
  letter-spacing: -0.5px;
}

.bold-medium {
  font-weight: 650;
  font-size: 12.5px;
  letter-spacing: 0.5px;
  margin-bottom: -4px;
}

.no-divider {
  margin: 0.6px 0;
}

.bold {
  font-weight: 900;
}

.font-medium {
  font-size: 14.5px;
  letter-spacing: -0.5px;
}

.large {
  height: 10px;
}

.large,
.medium {
  background-color: black;
  border: 0;
}

.medium {
  height: 5px;
}

.small-text {
  font-size: 0.85rem;
  letter-spacing: -0.5px;
}

.calories-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.calories-info h2 {
  margin: 2px 0 0;
}

.left-container p {
  margin: -8px -2px -3px;
  font-size: 2em;
  font-weight: 900;
  letter-spacing: -2px;
}

.calories-info span {
  margin: -7px -2px -3px;
  font-size: 2.3em;
  font-weight: 900;
}

.right {
  justify-content: flex-end;
}

.small-indent {
  margin-left: 0.3em;
}

.indent {
  margin-left: 1em;
}

.double-indent {
  margin-left: 2em;
  margin: 0.6px 0;
}

.daily-value p:not(.no-divider) {
  border-bottom: 1px solid #888989;
  margin: 0.6px 0;
}

.note {
  font-size: 0.6rem;
  margin: 5px 0;
  padding: 0 8px;
  text-indent: -8px;
}
