* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, sans-serif;
  background-color: antiquewhite;
  display: grid;
  height: 49vw;
  place-items: center;
}

.container {
  display: grid;
  width: 1030px;
  gap: 10px;
  padding: 10px;
  grid-template-columns: 245px 245px 245px 245px;
  grid-template-rows: 192px 237px 150px;
  background-color: white;
}

.label {
  border: 2px solid black;
  padding: 0 5px;
}

.long-narrow {
  grid-column: 1;
  grid-row: 1/4;
}

.medium-narrow {
  grid-column: 2;
  grid-row: 1/3;
}

.medium-wide {
  grid-column: 3/5;
  grid-row: 1/3;
}

.short-wide {
  grid-column: 2/5;
  grid-row: 3;
}

.medium-narrow {
  font-size: 16.8px;
}

.short-wide {
  display: grid;
  gap: 10px;
  grid-template-columns: 170px 200px 200px 140px;
  grid-template-rows: 104px 30px;
}

.first-element {
  grid-column: 1;
  grid-row: 1/3;
}

.second-element {
  grid-column: 2;
  grid-row: 1/2;
}

.third-element {
  grid-column: 3;
  grid-row: 1/2;
}

.fourth-element {
  grid-column: 2/4;
  grid-row: 2;
}

.fifth-elemnet {
  grid-column: 4;
  grid-row: 1/3;
}

h1 {
  text-align: center;
  margin: -6px 0 -5px;
  font-size: 1.93em;
  letter-spacing: -1.5px;
}

.medium-narrow h1 {
  font-size: 1.84em;
}

.medium-wide h1 {
  font-size: 1.79em;
}

.short-wide h1 {
  font-size: 1.9em;
  text-align: start;
  line-height: 1;
  margin: 0;
}

p {
  padding: 1px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.smallest-text {
  font-size: 0.57em;
  letter-spacing: -0.5px;
}

.short-wide .smallest-text {
  font-size: 0.7em;
}

.bold-medium {
  font-weight: 650;
  font-size: 13px;
  letter-spacing: 0.5px;
}

.bold {
  font-weight: 900;
}

.font-medium {
  font-size: 0.9em;
  letter-spacing: -0.5px;
  margin-top: -3px;
}

.large {
  height: 10px;
}

.large,
.medium {
  background-color: black;
  border: 0;
}

.medium {
  height: 5px;
}

.small-text {
  font-size: 0.7em;
  font-weight: 500;
}

.calories-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.short-wide .calories-info {
  align-items: flex-start;
}

.short-wide .calories-info div p:first-child {
  font-size: 18px;
}

.calories-info h2 {
  margin-top: 2px;
}

.left-container p {
  margin: -8px -2px -3px;
  font-size: 1.7em;
  letter-spacing: -2px;
}

.calories-info span {
  margin: -7px -2px -3px;
  font-size: 2.2em;
}

.right {
  justify-content: flex-end;
}

.right2 {
  float: right;
}

.divider {
  margin: 1px 0;
}

.small-indent {
  margin-left: 0.3em;
}

.indent {
  margin-left: 1em;
}

.double-indent {
  margin-left: 2em;
}

.daily-value p:not(.no-divider) {
  border-bottom: 1px solid #888989;
}

.nutrients p {
  padding: 0;
}

.daily {
  font-size: 0.8em;
  padding: 3px 0;
}

.note {
  font-size: 0.5em;
  font-weight: 600;
  padding: 0 8px;
  text-indent: -8px;
  margin: 1px 0;
}

.fourth-element p {
  display: inline;
}

.first-element p {
  font-size: 0.8em;
  line-height: 1;
}
.third-element p {
  padding: 0.42px 0;
}

.fifth-element .note {
  margin-top: 20px;
  font-size: 0.7em;
}
